.App {
  text-align: center;
  background: #f2f2f2;
}

nav {
  display: flex;
  justify-content: space-around;
  /* overflow: hidden; */
  align-items: center;
  min-height: 12vh;
  background-image: linear-gradient(#1daa5c, #00de7c);
  /* background: #1daa5c; */
  color: white;
  z-index: 9999;
}

.nav-link-item {
  color: white;
}

.nav-link-item:hover {
  text-decoration: none;
  color: white;
}

.nav-links{
  width: 50%;
  display: flex;
  margin: 0;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
  color: white;
}

.bookText{
  text-align: justify;
}

.content-links {
  color: black;
  text-decoration: none;
}

.content-links:hover {
  color: #1daa5c;
  background-color: #00de7c;
  text-decoration: none;
}

.chapter-section-link {
  color: black;
  text-decoration: none;
}

.chapter-section-link:hover {
  color: black;
  text-decoration: none
}

.equation{
  text-align: justify;
}

.generator-dropdown-menu {
  min-width: 0px !important;
}

.third-variable-toggle {
  display: none;
}

#nav-dropdown {
  color: white;
}

.nav-link-button {
  background: none;
}

.nav-dropdown:active {
  background: none;
  border: none;
}

.nav-link-button {
  display: flex;
}

.nav-link-button:hover {
  background: none;
  border: none;
}

.nav-link-button:active {
  background: none;
  border: none;
}

.nav-link-button:after {
  background: none;
  border: none;
}

#rod {
  position: relative;
  margin: auto;
  width: 2px;
  height: 100px;
  border-radius: 5px;
  transform-origin: 50% 0%;
  transform: rotate(60deg);
  background-color: black;
}

#pivot {
  position: absolute;
  top: -5px;
  left: -3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
}

#ball {
  position: absolute;
  bottom: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
}

.jxboard {
  margin: auto;
  height: 300;
  width: 600;
  outline: black;
}